@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #dcff50;
    --color-secondary: #7b61ff;
    --color-heading: #f5f5f7;
    --color-text: rgba(255, 255, 255, 0.6);
    --color-background: #090909;

    font-size: 62.5%;
  }
}